<!DOCTYPE html>
<html lang="en">

<h2>WebWill</h2>

<form action="/submit" method="POST" >

<tr>
<td>Navn
</td>

<td>
<input name="navn" type="text"/>
</td>

</tr>

<input name="submit" type="submit" value="sub"/>

</form>

<p/>
<a href="/create_key_page">create key</a>

</html>
